    @import url('https://fonts.googleapis.com/css2?family=Quickstand:wght@300;400;500&display=sw');

    *
    {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Quickstand', sans-serif;
    }
    h1
    {
        color: grey;
        align-items: center;
        margin-left: -150%;
        margin-top: -130%;
    }

    body
    {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        background: url('https://cdn.wallpapersafari.com/29/31/XO4GTC.jpg');
        background-size: cover;
        background-position: 50% 50%;
        
    }

    body::before
    {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    body::after
    {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .container 
    {
        position: relative;
        background: rgba(255, 255, 255, 0.05);
        border-radius: 6px;
        overflow: hidden;
        z-index: 10;
        border-top: 1px solid rgba(255, 255, 255, 0.2);
        border-left: 1px solid rgba(255, 255, 255, 0.2);
        box-shadow: 5px 5px 50px rgba(45,42,63, 5);
        margin-left: -160px;
        /* border-color: grey; */
        border-radius: 10px;
    }

    .container .calculator
    {
        position: relative;
        display: grid;
    }

    .container .calculator .value
    {
        grid-column: span 4;
        height: 140px;
        width: 300px;
        text-align: right;
        border: none;
        outline: none;
        padding: 10px;
        font-size: 60px;
        background: grey;
        color: black;
        border-bottom: 1px solid rgba(255, 255, 255, 0.05);
        border-right: 1px solid rgba(255, 255, 255, 0.05);
    }

    .container .calculator span
    {
        display: grid;
        place-items: center;
        height: 75px;
        width: 75px;
        color: #fff;
        font-weight: 400;
        cursor: pointer;
        font-size: 20px;
        user-select: none;
        border-bottom: 1px  solid rgba(255, 255, 255, 0.05);
        border-right: 1px solid rgba(255, 255, 255, 0.05);
    }

    .container .calculator span:hover
    {
        transition: 0s;
        background: rgba(255, 255, 255, 0.05);
        background: #14ff47;
        font-weight: 600;;
    }

    .container .calculator .clear
    {
        grid-column: span 2;
        width: 150px;
        background: rgba(255, 255, 255, 0.1);
    }

    .container .calculator .plus
    {
        grid-row: span 2;
        height: 150px;
    }

    .container .calculator .equal
    {
        grid-column: span 2;
        width: 150px;
        background: rgba(255, 255, 255, 0.1);
    }

    @media  (max-width: 600px) 
  {

    .container 
    {
        /* width:250px; */
        /* height: 350px; */
        margin-left: -52%;
    }

    h1  
    {
        margin-left: -20%;
        margin-top: -130%;  
        text-align: center; 
    }

    /* .container .calculator .num 
    {
        width: 30px;
        height: 55px;
    } */

    .container .calculator .value
    {
        grid-column: span 4;
        height: 95px;
        width: 300px;
        text-align: right;
        border: none;
        outline: none;
        padding: 10px;
        font-size: 35px;
        background: grey;
        color: black;
        border-bottom: 1px solid rgba(255, 255, 255, 0.05);
        border-right: 1px solid rgba(255, 255, 255, 0.05);
    }

    
    .container .calculator span
    {
        display: grid;
        place-items: center;
        height: 75px;
        width: 75px;
        color: #fff;
        font-weight: 400;
        cursor: pointer;
        font-size: 20px;
        user-select: none;
        border-bottom: 1px solid rgba(255, 255, 255, 0.05);
        border-right: 1px solid rgba(255, 255, 255, 0.05);
        border-left: 1px solid rgba(255, 255, 255, 0.05);
    }

    .container .calculator
    {
        position: relative;
        display: grid;
        margin-top: -25px;
    }

    body
    {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        background: url('https://cdn.wallpapersafari.com/29/31/XO4GTC.jpg') center;
        background-size: cover;
        background-size: 290%;
        background-position: 80% 80%;   
    }

    /* .container .calculator .clear
    {
        grid-column: span 2;
        width: 50px;
        background: rgba(255, 255, 255, 0.1);
    }

    .container .calculator .plus
    {
        grid-row: span 2;
        height: 100px;
    }
    .container .calculator .num
    {
        width: 40%;
    } */

}

@media (min-width: 600px) and (max-width: 750px) 
{
    .container 
    {
        /* width:250px; */
        /* height: 350px; */
        /* margin-left: -52%; */
    }   

    .container .calculator .value
    {
        grid-column: span 4;
        height: 95px;
        width: 300px;
        text-align: right;
        border: none;
        outline: none;
        padding: 10px;
        font-size: 35px;
        background: grey;
        color: black;
        border-bottom: 1px solid rgba(255, 255, 255, 0.05);
        border-right: 1px solid rgba(255, 255, 255, 0.05);
    }

    .container .calculator
    {
        position: relative;
        display: grid;
        margin-top: -25px;
    }

    h1  
    {
        margin-left: -60%;
        margin-top: -130%;  
        text-align: center; 
    }

}

@media (min-width: 750px) and (max-width: 950px)
{
    .container .calculator .value
    {
        grid-column: span 4;
        height: 95px;
        width: 300px;
        text-align: right;
        border: none;
        outline: none;
        padding: 10px;
        font-size: 35px;
        background: grey;
        color: black;
        border-bottom: 1px solid rgba(255, 255, 255, 0.05);
        border-right: 1px solid rgba(255, 255, 255, 0.05);
    }

    .container .calculator
    {
        position: relative;
        display: grid;
        margin-top: -25px;
    }

    h1  
    {
        margin-left: -130%;
        margin-top: -130%;  
        text-align: center; 
    }
}

@media (min-width: 950px) and (max-width: 1435px)
{
    .container .calculator .value
    {
        grid-column: span 4;
        height: 95px;
        width: 300px;
        text-align: right;
        border: none;
        outline: none;
        padding: 10px;
        font-size: 35px;
        background: grey;
        color: black;
        border-bottom: 1px solid rgba(255, 255, 255, 0.05);
        border-right: 1px solid rgba(255, 255, 255, 0.05);
    }

    .container .calculator
    {
        position: relative;
        display: grid;
        margin-top: -25px;
    }

    h1  
    {
        margin-left: -170%;
        margin-top: -130%;  
        text-align: center; 
    }
}
